#export LD_LIBRARY_PATH=$HOME/Software/OpenMPI-5.0.6/lib:$LD_LIBRARY_PATH
#export PATH=$HOME/Software/OpenMPI-5.0.6/bin:$PATH
# Compiler
FC = mpif90
# Compiling flags
FCFLAGS =-O3 -cpp -ffree-form -ffast-math -ftree-vectorize -funroll-loops -fallow-argument-mismatch -ffree-line-length-none 
FCFLAGS+=-fopenmp -D_OMP
FCFLAGS+=-D_MPI08
# OBLAS libraries
FCFLAGS+=-I${HOME}/Software/OpenMPI-5.0.6/include
LDFLAGS = ${HOME}/Software/OpenBLAS-0.3.29/libopenblas.a -lm -ldl
